.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid var(--primary-color-dark);
    text-indent: 0px;
    cursor: help;
}

.tooltip .tooltiptext {
    /*    visibility: hidden;*/
    display: none;
    cursor: pointer;
    width: 200px;
    background-color:var(--primary-color-light);
    color: var(--dark--font);
    text-align: left;
    border-radius: 6px;
    padding: 0.5em;
    padding-left: 1em;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -80px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tooltipArrow {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid var(--primary-color-light);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tooltip.active {
    font-weight: 500;
    border-color: transparent;
}

.tooltip.active .tooltiptext {
    display: block;
    opacity: 1;
}