.showHideButton {
    cursor: pointer;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    background: #077ebc;
    text-decoration: none;
    margin-bottom: 1em;
    border: none;
    float: right;
    position: relative;
    font-size: 2em;
    padding: 0;
    clear: both;
    width: 40px;
    height: 40px;
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

.showHideButton.text {
    padding: 10px 20px 10px 20px;
    height: auto;
    width: auto;
    font-size: 1em;
}

.showHideButton:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.showHideButton.inline {
    float: none !important;
    margin-bottom: 0 !important;
}
