.tocContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    z-index: 10001;
    margin: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 4px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 10px 0px, rgba(0, 0, 0, 0.298039) 0px 2px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 4px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 10px 0px, rgba(0, 0, 0, 0.298039) 0px 2px 4px -1px;
}

.tocCloseButton {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5001;
    font-size: 2em;
    cursor: pointer;
}

.tocSection::after {
  content: "";
  display: block;
  clear: both;
}

.tocSectionPrefix {
    position: relative;
    width: auto;
    float: left;
}

.tocSectionPrefixText {
    position: absolute;
    height: auto;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(7, 126, 188);
}

.tocSectionTitleTextWrapper {
    position: relative;
    padding-left: 40px;
    width: auto;
    float: left;
}

.tocSectionTitle {
    padding: 10px;
    clear: both;
}

.tocSectionTitleText {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: rgb(7, 126, 188);
}

.tocSubsectionTitle {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: white;
    width: 100%;
    clear: both;
}

.tocSubsectionPrefix {
    position: relative;
    width: 10%;
    float: left;
}

.tocSubsectionPrefixText {
    position: absolute;
    height: auto;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(7, 126, 188);
    padding-left: 50px;
}

.tocSubsectionTitleTextWrapper {
    width: auto;
    padding-left: 100px;
}

.tocSubsectionTitleText {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(7, 126, 188);
}

.tocPage {
    cursor: pointer;
    background-color: white;
    width: 100%;
    clear: both;
}

.tocPage.header {
    padding-top: 5px;
}

.tocPagePrefixWrapper {
    position: relative;
    width: 10%;
    float: left;
}

.tocPagePrefix {
    position: absolute;
    height: auto;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(7, 126, 188);
    padding-left: 100px;
}

.tocPageIconWrapper {
    position: relative;
    width: 5%;
    float: left;
}

.tocPageIcon {
    position: absolute;
    height: auto;
    width: 20px;
    margin-top: 8px;
    padding-left: 122px;
    color: rgb(115, 115, 115) !important;
}

.tocPageTextWrapper,
.tocPageTextWrapperWide,
.tocPageTextWrapperDynamic {
    position: relative;
    padding-left: 10px;
    width: 90%;
    float: left;
}

.tocPageTextWrapperWide {
    width: auto;
    padding-left: 160px;
    padding-bottom: 5px;
}

.tocPageTextWrapperDynamic {
    width: 60%;
    padding-left: 160px;
}

.tocPageTextWrapper {
    width: 80%;
}

.tocPageText {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(7, 126, 188);
}

.tocPageDeleteButtonWrapper {
    position: relative;
    width: auto;
    float: right;
}

.tocPageDeleteButton {
    position: relative;
    color: red;
    font-size: 40px;
    line-height: 25px;
    font-weight: bold;
}

.tocDeleteConfirmDialogContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    z-index: 15001;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 23px -2px rgba(0, 0, 0, 0.58);
}

.tocDeleteConfirmDialogText {
    position: relative;
    left: 25%;
    top: 10px;
}

.tocDeleteCancelButton {
    position: relative;
    height: 50px;
    width: 50%;
    top: 30px;
    left: 0;
    background: transparent !important;
    border: none;
    border-top: 1px solid gray;
    font-size: 17px;
    color: gray;
    margin: 0 !important;
    padding: 0 !important;
    text-shadow: none !important;
    border-radius: 0 !important;
}

.tocDeleteConfirmButton {
    position: relative;
    height: 50px;
    width: 50%;
    right: 0;
    top: 30px;
    background: transparent !important;
    border: none;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    font-size: 17px;
    color: rgb(7, 126, 188) !important;
    margin: 0 !important;
    padding: 0 !important;
    text-shadow: none !important;
    border-radius: 0 !important;
}

.tocDeleteConfirmDialogOverlay {
    position: fixed;
    width: auto;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 15000;
    background-color: rgba(0, 0, 0, 0.4);
}