.discussionLightbox {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    z-index: 5000;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.discussionLightbox textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    word-wrap: break-word;
    resize: none;
    margin-bottom: .5em;
    color: #222;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 8px #999;
    box-shadow: 0px 2px 8px #999;
    border: 1px solid transparent;
    border-top: 1px solid #FFF;
}

.discussionLightboxContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* for Firefox */
    min-height: 0;
}

.discussionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.discussionPromptContainer {
    font-style: italic;
    font-weight: bolder;
}

.discussionLightboxCloseButtonContainer {
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.discussionInputBody {
    display: flex;
    flex-direction: column;
    margin: 1em;
    min-height: 175px;
}

.discussionButtonContainer {
    display: flex;
    flex-direction: row-reverse;
}

.discussionResponseBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* for Firefox */
    min-height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-top: 1px solid #ddd;
    clear: both;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.discussionResponseBody .response {
    position: relative;
    padding: .8em 1em .5em 3em;
    margin: 0;
    background: none;
    border-bottom: 1px solid #ddd;
}

.discussionResponseBody .response i {
    margin-left: -1.5em;
}

.discussionResponseBody .your.response {
    background-color: #fff;
}

.discussionResponseBody .response .userId {
    font-weight: bold;
    margin-left: 0.5em;
}

.discussionResponseBody .response .timestamp {
    margin-left: .5em;
    /*    letter-spacing: .5em;*/
    font-size: .75em;
    color: #999;
}

.discussionResponseBody .response .message {
    font-style: normal;
    font-weight: normal;
    margin: .5em 0;
}

.discussionSubmitButton {
    cursor: pointer;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1em;
    border: none;
    background: #077ebc;
    color: #ffffff;
}

/*OLD STUFF STARTS HERE*/
.replyContainer {
    display: block;
}

.replyTextArea {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 1em;
    height: 5em;
}

.callout {
    padding: 1em;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(240, 240, 240);
    border-left: 10px solid rgb(0, 168, 142);
    margin: 1.5em 10px;
    clear: both;
    width: calc(100% - 3.5em);
}

.callout::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

button.replySubmitButton {
    cursor: pointer;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1em;
    border: none;
    color: #ffffff;
    background: #077ebc;
    float: right;
}

button.replyCloseButton {
    cursor: pointer;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #666666;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1em;
    border: none;
    color: #ffffff;
    background: gray;
}

.callout > button.chat {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    background-image: none;
    background-color: rgb(0, 168, 142);
    float: right;
    margin-left: 1em;
    margin-bottom: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    transition: background 0.2s;
    border-width: 0;
}

.callout p {
    font-weight: bolder;
    font-style: italic;
    margin: 0;
    padding: 0;
}

button.chat > i {
    font-size: 2em;
    margin-right: 0.5em;
}

.messageDeleteButtonWrapper {
    position: absolute;
    top: 0;
    right: 20px;
}

.messageDeleteButton {
    font-size: 30px;
    color: red;
}
