.dataEntryCallout, .dataEntrySubFormCallout {
    background-color: rgb(240, 240, 240);
    border-left: 10px solid rgb(0, 168, 142);
    border-right: 10px solid rgb(0, 168, 142);
    width: calc(100% - 20px);
    margin: 0;
    clear: both;
    max-height: calc(100vh - 105px);
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    display: flex;
    flex-direction: column;
}

.dataEntryCallout::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.dataEntryCallout p {
    font-weight: bolder;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.dataEntryHeader {
	background: rgb(0, 168, 142);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    order: 1;
}

.dataEntryHeader > div {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.dataEntryHeader > div:hover,
.dataEntryHeader > div.active,
.dataEntryFooter > button:hover {
	background: #5ac1b0;
}

.dataEntryCallout form {
    max-height: calc(100vh - 192px);
    overflow: auto;
    order: 2;
}

.dataEntryCallout form,
.dataEntrySubFormCallout form {
    will-change: transform;
}

.dataEntryCallout textarea {
    overflow: auto;
}

.dataEntryCallout form > .textBox,
.dataEntryCallout form > .dataEntryTableContainer,
.dataEntryCallout form > p,
.dataEntrySubFormCallout form > .textBox,
.dataEntrySubFormCallout form > p {
    padding-right: 1em;
    padding-left: 1em;
}

.dataEntryFooter {
    background-color: rgb(0, 168, 142);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 10px;
    order: 3;
}

.dataEntryFooter > button {
    width: 100%;
    color: white;
    background: transparent;
    padding: 0.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.textInput label {
    display: block;
    margin: 1em 0 0 0;
}

.textInput textarea {
    margin: .5em 0;
    width: 100%;
    height: 5em;
    display: inline-block;
}

.textResponses {
    display: block;
    max-height: 280px;
    box-sizing: border-box;
    padding: 0;
    margin-top: 1em;
    margin-left: -1em;
    margin-right: -1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-top: 1px solid #ddd;
    clear: both;
}

.textResponses .response {
    position: relative;
    padding: .8em 1em .5em 3em;
    margin: 0;
    background: none;
    border-bottom: 1px solid #ddd;
}

.textResponses .response > i {
    position: absolute;
    left: 0.5em;
    font-size: 1.5em;
}

.textResponses .showMore {
    display: block;
    padding: 1em;
    padding-left: 80px;
    margin: 0;
    font-style: italic;
}

.textResponses .your.response {
    background-color: #fff;
}

.textResponses .response .userId {
    font-weight: bold;
}

.textResponses .response .timestamp {
    margin-left: .5em;
    /*    letter-spacing: .5em;*/
    font-size: .75em;
    color: #999;
}

.textResponses .response .message {
    font-style: normal;
    font-weight: normal;
    margin: .5em 0;
}

.dataEntryCheckboxContainer {
    display: flex;
    align-items: center;
    background: rgba(0, 168, 142, 0.2);
    margin-bottom: 5px;
}

.dataEntryCheckboxContainer > span {
    padding: 0.5em;
}

.dataEntryCheckboxResponseContainer {
    display: none;
    padding: 0.5em;
    min-width: 25%;
}

.dataEntryCheckboxResponseContainer > span {
    display: block;
}

.dataEntrySubFormCallout {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    max-height: calc(100% - 70px);
    overflow: auto;
}