.lightBoxLoginForm {
    display: block;
    position: fixed;
    z-index: 1002;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    left: 0;
    top: 10%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    min-height: 15em;
    padding-bottom: 20px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.lightBoxLoginForm .lightBoxContent {
    position: relative;
    background-color: rgb(240, 240, 240);
    margin: auto;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lightBoxLoginForm .linkedInButton {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.lightBoxLoginForm #loginTeamSelect {
    margin-left: 19px;
}

.dimOverlay {
    display: block;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}